@use "./abstracts/" as abs;
@use "./resets";
@use "./variables" as v;
@use "./mixins" as mx;
@import url(https://fonts.googleapis.com/css?family=Poppins:500,700);

body {
  font-size: 18px;
  background-color: whitesmoke;
  font-family: abs.$main-font-family;
  color: abs.$primary-color;
}

img {
  user-select: none;
}

header {
  overflow: hidden;
  padding-bottom: 8em;

  .container {
    align-items: center;
    // padding-right: 0 !important;

    #image-wrapper {
      min-width: 50%;
    }

    img {
      min-width: 300px;
    }
  }

  section:first-child {
    @include mx.flexContainer(column);
    gap: abs.$md-gap;
  }
}

article {
  color: #6c757d;
}

main {
  background-color: whitesmoke;
}

footer {
  h1 {
    font-size: 2.5rem;
  }

  .icon {
    font-size: 150%;

    transition: all 0.5s ease;

    &:hover:enabled {
      color: abs.$secondary-color;
    }
  }

  section:first-child {
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: abs.$md-gap;
      padding-top: abs.$md-padding;
      padding-bottom: abs.$md-padding;
    }
  }

  section:nth-of-type(2) {
    background-color: #232027;

    * {
      color: white;
    }

    .container {
      padding-top: abs.$lg-padding;
      padding-bottom: abs.$lg-padding;
      justify-content: space-between;

      .links {
        @include mx.flexContainer;
        flex-wrap: wrap;
        gap: 2em;
        font-size: 1rem;

        p {
          margin-bottom: 1.5em;
          font-weight: bold;
          color: white !important;
        }
      }
    }
  }

  #boost-your-links-today {
    .container {
      background-image: url("/dist/img/bg-shorten-desktop.png");
      background-color: abs.$primary-color;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: white;
    }

    h1 {
      text-align: center;
    }
  }
}

nav,
header {
  background-color: white;
}

nav {
  background-color: white;
  transition: all 0.5s ease-in-out;

  a:hover:enabled {
    color: black;
  }

  ul {
    padding: 0 abs.$sm-padding;
  }
}

a,
button {
  transition: all 0.5s ease-in-out;
  user-select: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

a {
  color: abs.$muted-color;
  font-weight: 500;

  &:hover:enabled {
    color: abs.$secondary-color !important;
  }
}

.container {
  @include mx.flexContainer;

  padding-left: v.$container-sides-padding;
  padding-right: v.$container-sides-padding;
}

.column {
  flex-direction: column;
}

.navigation {
  justify-content: space-between;
  align-items: center;
  padding-top: abs.$lg-padding - 0.5em;
  padding-bottom: abs.$lg-padding;

  * {
    display: inherit;
    align-items: center;
    font-weight: 600;
    color: #6c757d;
    gap: abs.$lg-gap;

    &:hover:enabled {
      color: black !important;
    }
  }

  img {
    height: auto;
  }
}

.row-list {
  li {
    display: inline;
  }
}

#features {
  display: inherit;
  justify-content: space-between;
  gap: abs.$md-gap;
  margin-top: 4em;

  .card {
    @include mx.flexContainer(column);
    gap: abs.$md-gap;
    margin: 0 auto;
    height: fit-content;
    max-width: 500px;
    min-width: 200px;
    padding: 1.5em;

    border-radius: 7px;
    background-color: white;
    text-align: start;

    &__header {
      font-weight: 800;
      font-size: 1.7rem;
      overflow: hidden;
    }

    &__icon-wrapper {
      width: Max(60px, 3.5rem) !important;
      height: Max(60px, 3.5rem) !important;
      position: relative;
      @include mx.flexContainer;
      justify-content: center;
      align-items: center;
      padding: abs.$md-padding;
      border-radius: 50%;
      background-color: abs.$muted-color;
      bottom: 3.4em;
      margin-bottom: -3.4em;
    }

    &:nth-of-type(2) {
      margin-top: 2em;
    }

    &:nth-of-type(3) {
      margin-top: 4em;
    }
  }
}

.logo {
  font-size: 3rem;
  font-weight: 800;
  padding-right: 0.4em;
}

.column-list {
  @include mx.flexContainer(column);
  gap: abs.$md-gap;
}

.blue-btn {
  color: white;
  background-color: abs.$secondary-color;
  border: 0;
  border-radius: 50rem;
  padding: abs.$sm-padding;
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;

  max-width: 25rem;

  &:hover:enabled {
    background-color: abs.$secondary-color;
    color: white !important;
    transform: scale(1.05);
  }
}

.medium-container {
  @include mx.flexContainer;
  padding-left: abs.$md-padding;
  padding-right: abs.$md-padding;
}

.small-container {
  padding-left: v.$sm-container-sides-padding;
  padding-right: v.$sm-container-sides-padding;
  gap: 1em;
  justify-content: space-between;
}

.api-links {
  position: relative;
  bottom: 4em;

  .container {
    flex-direction: column;
    gap: abs.$md-gap;
    font-weight: bold;

    button {
      background-color: abs.$secondary-color;
      border: 0;
      color: white;
      font-weight: inherit;
      padding: 10px;

      &:hover:enabled {
        background-color: abs.$hover-color !important;
      }
    }

    .url-input {
      background-image: url("/dist/img/bg-shorten-desktop.png");
      background-color: abs.$primary-color;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 0.5em;
      padding: abs.$lg-padding;

      

      &__wrapper {
        @include mx.flexContainer;
        position: relative;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: abs.$md-gap;

        input {
          flex: 8;
          min-height: 3em;
          height: 3em;
          border-radius: 0.5em;
          font-family: inherit;
          font-size: inherit;
          font-weight: inherit;
          padding-left: abs.$sm-padding;
        }

        button {
          flex: 2;
          min-height: 3em;
          border-radius: 0.5em;
        }

        .link-validation {
          position: absolute;
          // bottom: 42.5%;
          top: 100%;
          user-select: none;
          color: rgb(235, 84, 84);
          // font-size: (1rem + .75vw);
        }
      }
    }

    .url-result {
      padding: 0;

      &__links {
        @include mx.flexContainer(column);
        gap: abs.$sm-gap;

        &__link {
          padding-top: 0.7em;
          padding-bottom: 0.7em;
          background-color: white;
          border-radius: 0.25em;
          transition: all 0.3s ease;

          &:hover:enabled {
            background-color: azure;
          }

          div:first-child {
            @include mx.flexContainer;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            & > span {
              flex: 6 !important;
            }

            & > div {
              @include mx.flexContainer;
              align-items: center;
              flex: 4 !important;
              gap: 2em;
            }
          }

          .copy-btn {
            width: 7rem;
            padding: 0.5em;
            border-radius: 0.25em;
          }

          .result {
            color: abs.$secondary-color;
            user-select: all;
          }
        }
      }
    }

    .medium-container {
      padding-top: abs.$md-padding;
      padding-bottom: abs.$md-padding;
    }
  }
}

#url-input {
  &:focus {
    outline: 2px solid abs.$secondary-color;
  }
}

button {
  width: clamp(10em, 12em, 14em);
}

#api-button {
  &:hover {
    background-color: abs.$secondary-color;
    color: white !important;
  }
}

#socials-icons {
  @include mx.flexContainer;
  gap: abs.$md-gap;
}

h1 {
  font-weight: 800;
}

#header-content {
  h1 {
    font-size: 5rem;
  }

  article {
    font-size: 1.5rem;
    padding-right: 1.5rem;
  }
}

#advanced-statistics {
  margin: 0 auto;

  .container {
    margin-top: 1em;
    margin-bottom: 5em;

    div:first-child {
      @include mx.flexContainer(column);
      gap: abs.$md-gap;
    }
  }

  h1 {
    font-size: 3rem;
  }

  #advanced-statistics-article {
    width: clamp(50%, 50%, 90%);
    margin: 0 auto;
    overflow: hidden;
  }
}

.toggle-button {
  position: absolute;
  top: 0;
  right: 10%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  height: 30px;
  width: 3.5em;
  border: 0;
  background-color: white;

  .bar {
    height: 6px;
    width: 100%;
    background-color: grey;
    border-radius: 10px;
  }
}

.text-center {
  text-align: center;
  margin-bottom: 1em;
}

.shakeY {
  animation: shake 0.3s;
}

@keyframes shake {
  25% {
    transform: translateX(4px);
  }

  50% {
    transform: translateX(-4px);
  }

  75% {
    transform: translateX(4px);
  }
}

@import "./media_queries";
