@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap);

$main-font-family: "Nunito Sans";

$fsz: (
    "article": 1rem,
    "h1": 2.5rem,
    "h2": 2rem,
);

$fw: (
    "lighter": 300,
    "normal": 600,
    "bold": 800,
);
