// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Baloo+2:regular&display=swap);

$main-font-family: "Nunito Sans";

$fw: (
    "lighter": 300,
    "normal": 600,
    "bold": 800,
);

$fs: (
    "fs-1": 1.15rem,
    "fs-2": 1.25rem,
    "fs-3": 1.5rem,
    "fs-4": 2.75rem,
    "fs-5": 4.5rem,
);
