@use "/src/stylesheets/base/fonts";

.card {
    position: relative;

    transition: all 0.25s ease-out;

    translate: -12.5%;
    opacity: 0.75;

    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}



.active {
    // transform: scale(1);
    translate: 0;
    opacity: 1;
}

.img {
    cursor: pointer;
}

.header {
    font-weight: map-get(fonts.$fw, "bold");
    font-size: map-get(fonts.$fs, "fs-2");
}

.attribute {
    font-weight: map-get(fonts.$fw, "normal");
    
}

.value {
    font-weight: map-get(fonts.$fw, "lighter");
    
    user-select: all;
}
