@use "../../stylesheets/abstracts/" as *;
@use "../../stylesheets/components/comment" as c;

.comment {
    display: flex;
    gap: map-get($gutters, "g-3");

    padding: map-get($gutters, "g-2");
    margin-inline-start: auto;

    @extend c, .content-box !optional;
}
