$main-font-family: 'Rubik';

$font-sizes: (
    'links': 0.75rem,
    'article': 1rem,
    'header-1': 2.5rem,
    'header-2': 1.75rem,
    'header-3': 1.25rem,
);

$font-weights: (
    'bold': 500,
    'normal': normal,
);
