$container-px: 10%;
$container-mobile-px: 5%;

// $gutters: (
//     'g-sm': 0.75rem,
//     'g-1': 1rem,
//     'g-2': 1.5rem,
//     'g-3': 2rem,
//     'g-4': 4rem,
//     'g-5': 8rem,
// );

$gutters: (
    'g-sm': 0.75rem,
    'g-1': 1rem,
    'g-2': 1.5rem,
    'g-3': 2rem,
    'g-4': 3rem,
    'g-5': 5rem,
);
