// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin spinKeyframes($direction: "counterClockWise") {
    @keyframes #{$direction}Spin {
        from {
            rotate: (0turn);
            @if ($direction == "counterClockWise") {
                //translate: 3%;
            } @else {
                rotate: (0turn);
                //translate: -3%;
            }
        }

        to {
            @if ($direction == "counterClockWise") {
                rotate: (-1turn);
                //translate: -3%;
            } @else {
                rotate: (1turn);
                //translate: 3%;
            }
        }
    }
}
