$p-background: (
    //main background
    "purple-100": hsl(268, 75%, 9%),
    //toggle background, keypad background
    "purple-200": hsl(268, 71%, 12%)
);

$p-keys: (
    //keybackground
    "purple-300": hsl(281, 89%, 26%),
    "purple-400": hsl(268, 47%, 21%),
    //keyshadow
    "pink-100": hsl(285, 91%, 52%),
    "pink-200": hsl(290, 70%, 36%),
    //keybackground, toggle
    "blue-100": hsl(176, 100%, 44%),
    //key shadow
    "blue-200": hsl(177, 92%, 70%),
    //key background
    //key shadow
);

$p-text: (
    "yellow-100": hsl(52, 100%, 62%),
    "blue-300": hsl(198, 20%, 13%),
    "white": hsl(0, 0%, 100%),
);
