$w-background: (
    //main background
    "gray-100": hsl(0, 0%, 90%),
    //toggle background, keypad background
    "gray-200": hsl(0, 5%, 81%),
    //screen background
    "gray-300": hsl(0, 0%, 93%)
);

$w-keys: (
    //keybackground
    "blue-100": hsl(185, 42%, 37%),
    //keyshadow
    "blue-200": hsl(185, 58%, 25%),
    //keybackground, toggle
    "yellow-300": hsl(25, 98%, 40%),
    //key shadow
    "yellow-400": hsl(25, 99%, 27%),
    //key background
    "yellow-100": hsl(45, 7%, 89%),
    //key shadow
    "yellow-200": hsl(35, 11%, 61%)
);

$w-text: (
    "yellow-500": hsl(60, 10%, 19%),
    "white": hsl(0, 0%, 100%),
);
