@media only screen and (max-width: 1000px) {
    .toggle-button {
        display: flex;
    }

    .nav {
        justify-content: space-between;

        min-height: $navbar-height;

        [class*="__logo"] {
            justify-self: flex-start;
        }
    }

    .to-collapse {
        overflow: hidden;
        max-height: 0;
        border-radius: 0.5em;
        // * {
        //     font-weight: 900 !important;
        //     font-size: 1rem;
        // }
        display: none;

        flex-direction: column;
        align-items: center;

        min-width: 100%;

        background-color: white;

        z-index: 999;
    }

    .active {
        max-height: 10rem;
    }

    .hide {
        display: none;
    }

    .card {
        &--feature {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding-inline: $container-mobile-px;
    }

    .main {
        &__intro {
            padding: 0;
            flex-wrap: wrap-reverse;
            & > * {
                flex: content;
            }

            &__content {
                transition: all 1s ease-in-out;
                margin-block: 95% 25%;
                padding-inline: $container-mobile-px;

                & > * {
                    text-align: center;
                    margin-inline: auto;
                }
            }

            &__image {
                &__front {
                    margin-inline: auto;
                }

                &__bg {
                    transition: transform 0ms !important;
                    content: url("/dist/assets/images/bg-intro-mobile.svg");
                }

                &__front,
                &__bg {
                    inset: 0;
                    padding: 0;
                    min-width: 100%;
                    max-width: 100%;

                    transform: translateY(-25%);
                }
            }
        }

        &__hero {
            * {
                text-align: center;
            }
        }
    }

    .footer {
        .container {
            flex-wrap: wrap;
            gap: map-get($gutters, "g-1");

            * {
                font-size: map-get($font-sizes, "article"); 
            }

            .footer__links {
                flex-direction: column;
                justify-content: initial !important;
                align-items: center;

                gap: map-get($gutters, "g-1");;

                text-align: center;

                &__socials {
                    gap: map-get($gutters, "g-1");
                }
            }

            .footer__credentials {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: map-get($gutters, "g-1");
            }

            .footer__links,
            .footer__credentials {
                margin-inline: auto;
            }
        }
    }
}
