$main-font-family: 'Work Sans';
$main-text-color: white;

// $secondary-font-size: .8em;
// $header-font-size: 2em;
// $article-font-size: 0.7em;

$secondary-font-size: 1em;
$header-font-size: 2em;
$article-font-size: .9em;

$feature-icons-size: 80px;