@use "../../stylesheets/base/fonts";

$white: hsl(0, 0%, 95%);
$purple: hsl(262, 69%, 25%);
$dark-pink: hsl(302, 85%, 31%);
$pink: hsl(301, 86%, 72%);
$blue: hsl(153, 83%, 71%);

.main {
    display: flex;
    flex-direction: column;
    gap: 2vw;

    text-align: center;

    padding-block: 7.5vw;

    background-color: $purple;
    min-height: 100vh;
    color: $dark-pink;
    font-family: "Baloo 2";

    .main-link {
        transition: all 0.15s ease-in;

        &:hover {
           color: $pink;
        }
    }
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    background-color: $white;
    margin-inline: 15vw;
    
    padding: calc(1vw + 0.5rem);

    border: 0.65rem solid $pink;
    border-radius: 8px;

    .header {
        font-size: map-get(fonts.$fs, "fs-5");
        font-weight: map-get(fonts.$fw, "normal");
    }

    .article {
        font-size: map-get(fonts.$fs, "fs-4");
        font-weight: map-get(fonts.$fw, "lighter");
    }

    .footer {
        font-size: map-get(fonts.$fs, "fs-3");
        font-weight: map-get(fonts.$fw, "lighter");
    }
}
