@use "../abstracts/" as *;
//@use "../comment" as c;

.button {
    //transition: opacity 0.05s ease-in-out;

    border: 0;
    border-radius: $br;

    padding-block: map-get($gutters, "g-1") * 0.75;

    font-weight: $bold;

    &--default {
        background-color: $blue-300;

        color: white;
    }

    &:hover {
        opacity: 0.5;
    }
}
