@use "../abstracts/" as *;
@use "./content-box" as c;

.comment {
    @extend c, .content-box !optional;
    flex-direction: column;

    gap: map-get($gutters, "g-1");
    padding: map-get($gutters, "g-2");

    align-items: flex-end;

    &__content {
        @extend c, .content-box !optional;
        gap: map-get($gutters, "g-3");

        width: 100%;

        margin-inline-start: auto;

        transition: all 0.25s ease-in-out;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: map-get($gutters, "g-1") * 0.5;

        width: 100%;
    }
}
