@use "../../stylesheets/abstracts/" as *;

.comments-section {
    display: flex;
    flex-direction: column;

    gap: map-get($gutters, "g-1");
    margin-block: map-get($gutters, "g-1");

    max-width: 700px;

    margin-inline: auto;
}
