$container-px: 10%;
$container-mobile-px: 5%;
$primary-color: hsl(12, 88%, 59%);
$secondary-color: hsl(228, 39%, 23%);
//$secondary-color-500: #25d3d1;
$muted-color: hsl(227, 12%, 61%);
$hover-color: hsl(12, 90%, 70%);
//$secondary-color-300: #89d3d3;

$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$vary-light-gray: hsl(0, 0%, 98%);

$main-font-family: 'Be Vietnam Pro';

$sm-padding: 1em;
$md-padding: 2em;
$lg-padding: 3em;

$sm-gap: 0.5em;
$md-gap: 1em;
$lg-gap: 1.5em;
