@import './resets', './variables', './mixins';

html {
    font-size: clamp(0.9rem, 0.5rem + 0.7vw, 2rem);
}

html * {
    font-family: $main-font-family !important;
}

body {
    color: $secondary-color;
    overflow: hidden;
}

a {
    transition: all 0.5s ease;
    user-select: none;
    font-weight: 500;
}

article {
    color: $muted-color;
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

nav {
    padding-block: 4em;
    justify-content: space-between;

    font-size: 0.8rem !important;

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        gap: 2em;
    }

    a:hover {
        color: $muted-color;
    }

    div:nth-of-type(2),
    div:nth-of-type(3) {
        align-items: center;
    }
}

main {
    padding-top: 4em;
    .welcome-section {
        display: flex;

        padding-bottom: 4em;

        .text-content {
            display: flex;
            flex-direction: column;
            justify-content: center;

            min-width: 50%;

            padding-inline-end: 0.5em;

            h1 {
                font-size: 3rem;
                padding-bottom: 0.5em;
            }

            article {
                padding-bottom: 3em;
                width: 70%;
            }

            .get-started-btn {
                font-size: 0.8rem;
            }
        }

        .img-content {
            min-width: 50%;
            img {
                width: 100%;
            }
        }
    }

    .features {
        padding-block: 3em;

        & > div {
            min-width: 50%;
        }

        & > div:nth-of-type(1) {
            display: flex;
            flex-direction: column;
            gap: 1.5em;
            h2 {
                font-size: 2.3rem;
            }

            article {
                max-width: 65%;
            }
        }

        & > div:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            gap: 3em;
        }

        .card {
            display: flex;
            flex-direction: column;
            gap: 1.5em;

            &__header {
                display: flex;
                align-items: center;
                gap: 1.5em;
                &__index {
                    @include orangePill;
                    padding-inline: 1.5em;
                    padding-block: 0.5em;
                }
            }

            &__body {
                padding-inline-start: 5.5em;
            }
            
        }
    }

    .comments {
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        margin-bottom: 22.5vh;

        h2 {
            text-align: center;
            font-size: 2rem;
            padding-bottom: 1.5em;
        }

        .navigation-arrows {
            display: flex;
            justify-content: space-between;
            position: relative;
            margin-bottom: -100px;
            z-index: 999;
            width: 100%;
            top: 8em;
            opacity: 0.05;
            transition: all 0.5s ease-in-out;
            user-select: none;

            &:hover {
                opacity: 0.75;
            }

            img {
                height: 100px;
                width: 100px;
            }
        }

        .carousel {
            display: flex;
            justify-content: center;
            gap: 2em;
            width: 125%;
            padding-right: 25%;
            // transform: translateX(-175px);
            transition: all 1s ease;
            margin-top: 3em;
            padding-bottom: 1.5em;

            &__card {
                display: flex;
                flex-direction: column;
                gap: 1em;

                background-color: $vary-light-gray;

                min-width: 30em;
                max-width: 35em;

                padding-inline: 1.5em;
                padding-bottom: 3em;

                text-align: center;

                &__image {
                    img {
                        position: relative;
                        bottom: 2.5em;
                        margin-bottom: -2.5em;

                        max-width: 80px;
                    }
                }

                &__title {
                    font-weight: 700;
                }
            }
        }

        & > div:nth-of-type(3) {
            display: flex;
            padding-block: 2em;
            justify-content: center;

            .get-started-btn {
                font-size: 0.8rem;
            }
        }
    }

    .get-started {
        padding-block: 5em;

        h2 {
            font-size: 2.5rem;
            font-weight: 600;
        }

        background-color: $primary-color;
        color: $very-pale-red;
        .container {
            flex-wrap: wrap;
            justify-content: space-between;

            & > div {
                display: flex;
                align-items: center;
            }
        }

        .get-started-btn {
            color: $primary-color;
            background-color: $vary-light-gray;

            &:hover {
                color: $hover-color;
            }
        }
    }
}

footer {
    padding-block: 4em;
    color: $muted-color;
    background-color: $very-dark-blue;
    font-size: 0.8rem !important;

    .container {
        justify-content: space-between;

        p {
            color: $muted-color;
            text-align: end;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }

        a:hover {
            color: $primary-color;
        }

        #logo-icons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        #links-group {
            display: flex;
            justify-content: space-between;
            min-width: 20em;
        }

        #input-copyright {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            min-width: 340px;

            div:first-child {
                display: flex;
                gap: 0.5em;

                input {
                    flex: 8;
                    padding-inline-end: 0.5em;
                    padding-inline-start: 1em;
                    padding-block: 0.5em;
                    border-radius: 50rem;
                    border-color: $very-dark-blue;

                    &:focus {
                        outline: none !important;
                        border: 2px solid $primary-color;
                    }
                }

                button {
                    flex: 2;
                    border: 0;
                }
            }
        }

        .icons {
            flex-direction: row;
            justify-content: space-between;
        }

        .mobile-copyright {
            display: none;
        }
    }

    .icons {
        color: white !important;
    }

    .bi {
        height: 1.25rem;
        width: 1.25rem;
        transition: color 0.25s ease;
    }
}

.container {
    display: flex;
    padding-inline: $container-px;
}

.container-bg-wrapper {
    width: 100%;
}

.smooth-transition {
    transition: all 0.5s ease;
    * {
        transition: all 0.5s ease;
    }
}

.border {
    border: 1px groove grey;
}

.get-started-btn {
    @include orangePill;
    font-size: 0.8rem;
    font-weight: 700;
    white-space: nowrap;
    box-shadow: 0 0.25rem 0.5rem rgba(black, 0.075);

    &:hover {
        color: white;
        background-color: $hover-color;

        -webkit-transform: scale(0.98) !important;
        -moz-transform: scale(0.98) !important;
        -o-transform: scale(0.98) !important;
        transform: scale(0.98) !important;
    }
}

.toggle-button {
    position: absolute;
    top: 6%;
    right: $container-px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    height: 30px;
    width: 3.5em;
    border: 0;
    background-color: white;

    .bar {
        height: 6px;
        width: 100%;
        background-color: grey;
        border-radius: 10px;
    }
}

#overlay {
    transition: all .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // display: none;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}



@import './media';
